{% extends "layout.html" %}

{% block title %}
    Portofolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                {% for stock in stocks %}

                    <tr>
                        <td class="text-start">{{ stock.symbol }}</td>
                        <td class="text-end">{{ stock.shares }}</td>
                        <td class="text-end">{{ stock.current_price }}</td>
                        <td class="text-end">{{ stock.total_price }}</td>
                        <td>
                            <form action="/buy" method="get">
                                <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                                <button type="submit" class="btn btn-success">Buy</button>
                            </form>
                        </td>
                        <td>
                            <form action="/sell" method="get">
                                <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                                <button type="submit" class="btn btn-danger">Sell</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
